<ActionBar>
  <StackLayout horizontalAlignment="right" verticalAlignment="center" orientation="horizontal">
    <StackLayout horizontalAlignment="left">
      <Button class="btn btn-primary" text="Regresar" fontSize="15" class="-rounded-lg"
              height="100%" backgroundColor="#E9E7E2"
              (tap)="goBack()"></Button>
    </StackLayout>
    <Label text="                     " fontSize="10"></Label>
    <Label [text]="data.name+ ' '" fontSize="20"></Label>
    <image width="10%" height="10%" [src]="data.profile_photo_url"></image>
    <Label fontSize="10"></Label>
  </StackLayout>
</ActionBar>
<GridLayout backgroundColor="#F7F3E7">
  <ListView [items]="items">
    <ng-template let-item="item">
      <StackLayout [nsRouterLink]="['/item', item.id]">
        <Label [text]="item.name"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
