<ActionBar verticalAlignment="center">

  <StackLayout horizontalAlignment="right">
    <StackLayout horizontalAlignment="left">
      <Button class="btn btn-primary" text="Regresar" fontSize="15" class="-rounded-lg"
              height="100%"
              (tap)="goBack()"></Button>
    </StackLayout>
    <Label [text]="data.name+ ' '" fontSize="20"></Label>
    <image width="40"height="40" [src]="data.profile_photo_url"></image>
  </StackLayout>

</ActionBar>
<GridLayout backgroundColor="#F7F3E7">
  <ListView [items]="items">
    <ng-template let-item="item">
      <StackLayout [nsRouterLink]="['/item', item.id]">
        <Label [text]="item.name"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
